<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>COMMUNITYSERVICE</title>
    <script src="javascrippt.js" type="text/javascript"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Font Awesome CDN link -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<!--Animate CSS-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- JQuery??? -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Bubbler+One" rel="stylesheet">



		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>


<body>

    <script>
    var vid = document.getElementById("bgvid");
var pauseButton = document.querySelector("#polina button");

if (window.matchMedia('(prefers-reduced-motion)').matches) {
  vid.removeAttribute("autoplay");
  vid.pause();
  pauseButton.innerHTML = "Paused";
}

function vidFade() {
vid.classList.add("stopfade");
}

vid.addEventListener('ended', function()
{
// only functional if "loop" is removed
vid.pause();
// to capture IE10
vidFade();
});


pauseButton.addEventListener("click", function() {
vid.classList.toggle("stopfade");
if (vid.paused) {
  vid.play();
  pauseButton.innerHTML = "Pause";
} else {
  vid.pause();
  pauseButton.innerHTML = "Paused";
}
})

    </script>


    <div class="font">


      <!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/search">Buscar</a></li>
      <li><a href="/ads">Ads</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a>
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="#!">one</a></li>
          <li><a href="#!">two</a></li>
          <li class="divider"></li>
          <li><a href="#!">three</a></li>
        </ul>
      </li>
      <script src="javascrippt.js" type="text/javascript"></script>

    </ul>
  </div>
</nav>

  <!--  <div class="parallax">



  </div>-->



  <div class="start">
    <h1>Deseas comenzar la busqueda de servicio comunitario?</h1>
    <a class="waves-effect waves-light btn-large" href="/search">Presione aqui para comenzar</a>
  </div>
  <div class="row">

    <div class="col s5 what">
<br>


    <p>
      Los estudiantes constantemente se enfrentan con problemas en busca de obras comunitarias para cumplir con sus horas de servicio.
    </p>
</div>


  <div class="col s7 what">
    <br>
    <br>
    <br>
    <br>
    <br>
    <img class="people"src="http://www.sempervita.org/.a/6a00d8341c570e53ef01348427246f970c-pi" alt="">

  </div>
  </div>
  <div class="row">
    <div class="col s7 what2">
      <br>
      <br>
      <br>
      <img class="how"src="/images/how.png" alt="">
      <br>

    </div>
    <div class="col s5 what2">
      <br>
      <br>

    <p>Ayudamos a los estudiantes a encontrar obras comunitarias a través de un sistema que tiene en cuenta su área de residencia, sus intereses y las horas necesarias.
      Con la ayuda de ustedes, Surf Kindly ayudará a mejorar el futuro del servicio comunitario.

</p>

    </div>

  </div>
  </div>
  </body>
</html>

