
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>COMMUNITYSERVICE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<!-- Font Awesome CDN link -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<!--Animate CSS-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- JQuery??? -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Bubbler+One" rel="stylesheet">
  </head>
  <body>
    <div style="font-family:Bubbler One">
<div style="font-size:20px">
<div style="">


    <div class="container">
      <a href="/" src="/"><i class="fa fa-window-close" aria-hidden="true"></i></a>
      <br/>
      <br>
<div class="row">
  <div class="pueblo">
      <b>Pueblo</b>
  </div>
        <div class="col s4 dropdown">
          <select class="btn btn-primary dropdown-toggle" name="select1" onmousedown="if(this.options.length>8){this.size=8;}"  onchange='this.size=0;' onblur="this.size=0;">
          <ul class="dropdown-menu">
       <option value="1"><a href="#">Adjuntas</a></option>
       <option value="2"><a href="#">Aguada</a></option>
       <option value="3"><a href="#">Aguadilla</a></option>
       <option value="4"><a href="#">Aguas Buenas</a></option>
       <option value="5"><a href="#">Aibonito</a></option>
       <option value="6"><a href="#">Arecibo</a></option>
       <option value="7"><a href="#">Arroyo</a></option>
       <option value="8"><a href="#">Añasco</a></option>
       <option value="9"><a href="#">Barceloneta</a></option>
       <option value="10"><a href="#">Barranquitas</a></option>
       <option value="11"><a href="#">Bayamón</a></option>
       <option value="12"><a href="#">Cabo Rojo</a></option>
       <option value="13"><a href="#">Caguas</a></option>
       <option value="14"><a href="#">Camuy</a></option>
       <option value="15"><a href="#">Canóvanas</a></option>
       <option value="16"><a href="#">Carolina</a></option>
       <option value="17"><a href="#">Cataño</a></option>
       <option value="18"><a href="#">Cayey</a></option>
       <option value="19"><a href="#">Ceiba</a></option>
       <option value="20"><a href="#">Ciales</a></option>
       <option value="21"><a href="#">Cidra</a></option>
       <option value="22"><a href="#">Coamo</a></option>
       <option value="23"><a href="#">Camuy</a></option>
       <option value="24"><a href="#">Canóvanas</a></option>
       <option value="25"><a href="#">Carolina</a></option>
       <option value="26"><a href="#">Añasco</a></option>
       <option value="27"><a href="#">Barceloneta</a></option>
       <option value="28"><a href="#">Barranquitas</a></option>
       <option value="29"><a href="#">Bayamón</a></option>
       <option value="30"><a href="#">Cabo Rojo</a></option>
       <option value="31"><a href="#">Caguas</a></option>
       <option value="32"><a href="#">Camuy</a></option>
       <option value="33"><a href="#">Canóvanas</a></option>
       <option value="34"><a href="#">Carolina</a></option>
       <option value="35"><a href="#">Comerío</a></option>
       <option value="36"><a href="#">Corozal</a></option>
       <option value="37"><a href="#">Culebra</a></option>
       <option value="38"><a href="#">Dorado</a></option>
       <option value="39"><a href="#">Fajardo</a></option>
       <option value="40"><a href="#">Florida</a></option>
       <option value="41"><a href="#">Guayama</a></option>
       <option value="42"><a href="#">Guayanilla</a></option>
       <option value="43"><a href="#">Guaynabo</a></option>
       <option value="44"><a href="#">Gurabo</a></option>
       <option value="45"><a href="#">Hatillo</a></option>
       <option value="46"><a href="#">Guánica</a></option>
            <option value="47"><a href="#">Hormigueros</a></option>
            <option value="48"><a href="#">Humacao</a></option>
            <option value="49"><a href="#">Isabela</a></option>
            <option value="50"><a href="#">Jayuya</a></option>
            <option value="51"><a href="#">Juana Díaz</a></option>
            <option value="52"><a href="#">Juncos</a></option>
            <option value="53"><a href="#">Lajas</a></option>
            <option value="54"><a href="#">Lares</a></option>
            <option value="55"><a href="#">Las Marías</a></option>
            <option value="56"><a href="#">Las Piedras</a></option>
            <option value="57"><a href="#">Loiza</a></option>
            <option value="58"><a href="#">Luquillo</a></option>
            <option value="60"><a href="#">Maricao</a></option>
              <option value="59"><a href="#">Manatí</a></option>
            <option value="61"><a href="#">Maunabo</a></option>
            <option value="62"><a href="#">Mayagüez</a></option>
            <option value="64"><a href="#">Morovis</a></option>
              <option value="63"><a href="#">Moca</a></option>
            <option value="65"><a href="#">Naguabo</a></option>
            <option value="66"><a href="#">Naranjito</a></option>
            <option value="67"><a href="#">Orocovis</a></option>
            <option value="69"><a href="#">Peñuelas</a></option>
              <option value="68"><a href="#">Patillas</a></option>
            <option value="70"><a href="#">Ponce</a></option>
            <option value="71"><a href="#">Quebradillas</a></option>
            <option value="72"><a href="#">Rincón</a></option>
            <option value="73"><a href="#">Rio Grande</a></option>
            <option value="74"><a href="#">Sabana Grande</a></option>
            <option value="76"><a href="#">San Germán</a></option>
              <option value="75"><a href="#">Salinas</a></option>
            <option value="77"><a href="#">San Juan</a></option>
            <option value="78"><a href="#">San Lorenzo</a></option>
            <option value="80"><a href="#">Santa Isabel</a></option>
              <option value="79"><a href="#">San Sebastián</a></option>
            <option value="81"><a href="#">Toa Alta</a></option>
            <option value="82"><a href="#">Toa Baja</a></option>
            <option value="83"><a href="#">Trujillo Alto</a></option>
            <option value="85"><a href="#">Vega Alta</a></option>
              <option value="84"><a href="#">Utuado</a></option>
            <option value="86"><a href="#">Vega Baja</a></option>
            <option value="87"><a href="#">Vieques</a></option>
            <option value="88"><a href="#">Villalba</a></option>
            <option value="89"><a href="#">Yabucoa</a></option>
            <option value="90"><a href="#">Yauco</a></option>

        </select>
        </div>
        <div class="col s6">
          <div class="categoria">
              <b>Interes</b>
          </div>
            <form class="searchform group">
                <label class="period" for="search-box">

                </label>
                <input type="search" id="search-box" placeholder="Search">
            </form>
          </div>
        <div class="col s2 dropdown">
          <div class="horas">
              <b>Horas</b>
          </div>
            <select class="btn btn-primary dropdown-toggle" name="select2" onmousedown="if(this.options.length>8){this.size=8;}"  onchange='this.size=0;' onblur="this.size=0;">Horas
            <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <option value="1"><a href="#">1</a>
            <option value="2"><a href="#">2</a>
            <option value="3"><a href="#">3</a>
            <option value="4"><a href="#">4</a>
            <option value="5"><a href="#">5</a>
            <option value="6"><a href="#">6</a>
            <option value="7"><a href="#">7</a>
            <option value="8"><a href="#">8</a>
            <option value="9"><a href="#">9</a>
            <option value="10"><a href="#">10</a>
            <option value="11"><a href="#">11</a>
            <option value="12"><a href="#">12</a>
            <option value="13"><a href="#">13</a>
            <option value="14"><a href="#">14</a>
            <option value="15"><a href="#">15</a>
            <option value="16"><a href="#">16</a>
            <option value="17"><a href="#">17</a>
            <option value="18"><a href="#">18</a>
            <option value="19"><a href="#">19</a>
            <option value="20"><a href="#">20</a>
            <option value="21"><a href="#">21</a>
            <option value="22"><a href="#">22</a>
            <option value="23"><a href="#">23</a>
            <option value="24"><a href="#">24</a>
            <option value="25"><a href="#">25</a>
            <option value="26"><a href="#">26</a>
            <option value="27"><a href="#">27</a>
            <option value="28"><a href="#">28</a>
            <option value="29"><a href="#">29</a>
            <option value="30"><a href="#">30</a>
              <option value="31"><a href="#">31</a>
              <option value="32"><a href="#">32</a>
              <option value="33"><a href="#">33</a>
              <option value="34"><a href="#">34</a>
              <option value="35"><a href="#">35</a>
              <option value="36"><a href="#">36</a>
              <option value="37"><a href="#">37</a>
              <option value="38"><a href="#">38</a>
              <option value="39"><a href="#">39</a>
              <option value="40"><a href="#">40</a>
              <option value="41"><a href="#">41</a>
              <option value="42"><a href="#">42</a>
              <option value="43"><a href="#">43</a>
              <option value="44"><a href="#">44</a>
              <option value="45"><a href="#">45</a>
              <option value="46"><a href="#">46</a>
              <option value="47"><a href="#">47</a>
              <option value="48"><a href="#">48</a>
              <option value="49"><a href="#">49</a>
              <option value="50"><a href="#">50</a>
              </ul>
        </div>


  </div>
      </div>
    </div>
    </div>
  </div>
  </body>
</html>
