
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>surfkindly.com</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
    <!-- Font Awesome CDN link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Animate CSS-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">

 <!-- Compiled and minified JavaScript -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
 <link href="https://fonts.googleapis.com/css?family=Bubbler+One" rel="stylesheet">



    <!-- Latest compiled and minified JavaScript -->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

     <link rel='stylesheet' href='/stylesheets/style.css' />
     <script src="javascrippt.js" type="text/javascript"></script>
  </head>
  <body>



    <div class="segment segment3">
      <div class="nav2">
        <nav>
          <div class="nav-wrapper">
            <a href="/"> <img class="brand-logo" src="/images/surf-kindly-logo.png" alt="Surf Kindly Logo"></a>
            <!-- Dropdown Structure
            <ul id="dropdown1" class="dropdown-content">
            <li><a href="#!">one</a></li>
            <li><a href="#!">two</a></li>
            <li class="divider"></li>
            <li><a href="#!">three</a></li>
          </ul>-->
            <ul class="right hide-on-med-and-down">
              <li><a href="/search">Buscar</a></li>
              <li><a href="/team">Nuestro equipo</a></li>
              <li><a href="/registracion">Regístrate</a></li>
                <li><a href="/survey">Cuestionario</a></li>
              <script src="javascrippt.js" type="text/javascript"></script>
            </ul>
          </div>
        </nav>
      </div>
      <br>
      <br>
<div class="row">
        <div class="col s4 dropdown">
          <b>Pueblo</b>
          <select class="btn btn-primary dropdown-toggle" name="select1" onmousedown="if(this.options.length>8){this.size=8;}"  onchange='this.size=0;' onblur="this.size=0;">
          <optgroup label="pueblos" class="dropdown-menu">
       <option value="1"><a href="#">Adjuntas</a></option>
       <option value="2"><a href="#">Aguada</a></option>
       <option value="3"><a href="#">Aguadilla</a></option>
       <option value="4"><a href="#">Aguas Buenas</a></option>
       <option value="5"><a href="#">Aibonito</a></option>
       <option value="6"><a href="#">Arecibo</a></option>
       <option value="7"><a href="#">Arroyo</a></option>
       <option value="8"><a href="#">Añasco</a></option>
       <option value="9"><a href="#">Barceloneta</a></option>
       <option value="10"><a href="#">Barranquitas</a></option>
       <option value="11"><a href="#">Bayamón</a></option>
       <option value="12"><a href="#">Cabo Rojo</a></option>
       <option value="13"><a href="#">Caguas</a></option>
       <option value="14"><a href="#">Camuy</a></option>
       <option value="15"><a href="#">Canóvanas</a></option>
       <option value="16"><a href="#">Carolina</a></option>
       <option value="17"><a href="#">Cataño</a></option>
       <option value="18"><a href="#">Cayey</a></option>
       <option value="19"><a href="#">Ceiba</a></option>
       <option value="20"><a href="#">Ciales</a></option>
       <option value="21"><a href="#">Cidra</a></option>
       <option value="22"><a href="#">Coamo</a></option>
       <option value="23"><a href="#">Camuy</a></option>
       <option value="24"><a href="#">Canóvanas</a></option>
       <option value="25"><a href="#">Carolina</a></option>
       <option value="26"><a href="#">Añasco</a></option>
       <option value="27"><a href="#">Barceloneta</a></option>
       <option value="28"><a href="#">Barranquitas</a></option>
       <option value="29"><a href="#">Bayamón</a></option>
       <option value="30"><a href="#">Cabo Rojo</a></option>
       <option value="31"><a href="#">Caguas</a></option>
       <option value="32"><a href="#">Camuy</a></option>
       <option value="33"><a href="#">Canóvanas</a></option>
       <option value="34"><a href="#">Carolina</a></option>
       <option value="35"><a href="#">Comerío</a></option>
       <option value="36"><a href="#">Corozal</a></option>
       <option value="37"><a href="#">Culebra</a></option>
       <option value="38"><a href="#">Dorado</a></option>
       <option value="39"><a href="#">Fajardo</a></option>
       <option value="40"><a href="#">Florida</a></option>
       <option value="41"><a href="#">Guayama</a></option>
       <option value="42"><a href="#">Guayanilla</a></option>
       <option value="43"><a href="#">Guaynabo</a></option>
       <option value="44"><a href="#">Gurabo</a></option>
       <option value="45"><a href="#">Hatillo</a></option>
       <option value="46"><a href="#">Guánica</a></option>
            <option value="47"><a href="#">Hormigueros</a></option>
            <option value="48"><a href="#">Humacao</a></option>
            <option value="49"><a href="#">Isabela</a></option>
            <option value="50"><a href="#">Jayuya</a></option>
            <option value="51"><a href="#">Juana Díaz</a></option>
            <option value="52"><a href="#">Juncos</a></option>
            <option value="53"><a href="#">Lajas</a></option>
            <option value="54"><a href="#">Lares</a></option>
            <option value="55"><a href="#">Las Marías</a></option>
            <option value="56"><a href="#">Las Piedras</a></option>
            <option value="57"><a href="#">Loiza</a></option>
            <option value="58"><a href="#">Luquillo</a></option>
            <option value="60"><a href="#">Maricao</a></option>
              <option value="59"><a href="#">Manatí</a></option>
            <option value="61"><a href="#">Maunabo</a></option>
            <option value="62"><a href="#">Mayagüez</a></option>
            <option value="64"><a href="#">Morovis</a></option>
              <option value="63"><a href="#">Moca</a></option>
            <option value="65"><a href="#">Naguabo</a></option>
            <option value="66"><a href="#">Naranjito</a></option>
            <option value="67"><a href="#">Orocovis</a></option>
            <option value="69"><a href="#">Peñuelas</a></option>
              <option value="68"><a href="#">Patillas</a></option>
            <option value="70"><a href="#">Ponce</a></option>
            <option value="71"><a href="#">Quebradillas</a></option>
            <option value="72"><a href="#">Rincón</a></option>
            <option value="73"><a href="#">Rio Grande</a></option>
            <option value="74"><a href="#">Sabana Grande</a></option>
            <option value="76"><a href="#">San Germán</a></option>
              <option value="75"><a href="#">Salinas</a></option>
            <option value="77"><a href="#">San Juan</a></option>
            <option value="78"><a href="#">San Lorenzo</a></option>
            <option value="80"><a href="#">Santa Isabel</a></option>
              <option value="79"><a href="#">San Sebastián</a></option>
            <option value="81"><a href="#">Toa Alta</a></option>
            <option value="82"><a href="#">Toa Baja</a></option>
            <option value="83"><a href="#">Trujillo Alto</a></option>
            <option value="85"><a href="#">Vega Alta</a></option>
              <option value="84"><a href="#">Utuado</a></option>
            <option value="86"><a href="#">Vega Baja</a></option>
            <option value="87"><a href="#">Vieques</a></option>
            <option value="88"><a href="#">Villalba</a></option>
            <option value="89"><a href="#">Yabucoa</a></option>
            <option value="90"><a href="#">Yauco</a></option>
          </optgroup>
        </select>
        </div>

        <div class="col s6">
              <b>Intereses</b>
            <form class="searchform group">
                <label class="period" for="search-box">
                </label>
                <input type="search" id="search-box" placeholder="Search">
            </form>
          </div>
        <div class="col s2 dropdown">
          <div class="horas">
              <b>Horas</b>
          </div>
          <form action="#">
            <p class="range-field">
              <input type="range" id="test5" min="0" max="100" class="active">
              <span class="thumb" style="left: 90px; height: 0px; width: 0px; top: 10px; margin-left: 7px;">
                <span class="value">50</span>
              </span>
            </p>
          </form>
        <!--  ADD SLIDER VALUES MATERIALIZE -->
      </div>
      </div>

      <h3>Agentes de cambio</h3>
      <br>
      <div class="perfil">
        <i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i>
        <h4>Carlos Barreno</h4>
        <h5>Pueblo: San Juan
        <br>
        Intereses: Lectura, soccer, animales.
        <br>
        Horas de servicio: 16/100
        <br>
        Organizaciones compatibles: <a src="https://rabitokontento.org">Rabito Kontento,</a>
         <a src="http://www.saveasato.org/">Save a Sato,</a>
         Jóvenes lectores.</h5>
      </div>

      <br>

      <div class="perfil2">
        <i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i>
        <h4>Sofia Toro Bravo</h4>
        <h5>Pueblo: Dorado
        <br>
        Intereses: Niños, yoga, agricultura, baloncesto.
        <br>
        Horas de servicio: 10/100
        <br>
        Organizaciones compatibles: <a src="http://agricultoresoroverdepr.blogspot.com/">Proyecto de agricultura,</a>
         <a src="http://www.drdpuertorico.com/proyecto-zona-drd/">Proyecto Zona,</a>
         Jóvenes Lectores.</h5>
      </div>
      <div class="mjm">
        Trabajamos con organizaciones sin fines de lucro comprometidos por un mejor Puerto Rico.
        La lista está en constante en crecimiento, pero se pueden nombrar ejemplos como ScubaDogs, Save a Sato,
        Rabito Kontento, y más. Si no encuentra una organización con la que pueda colaborar,
        contáctanos para ayudarte a crear tu grupo de servicio. Juntos levantaremos nuestro país.
      </div>
    </div>

  </body>
</html>
