<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Font Awesome CDN link -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<!--Animate CSS-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- JQuery??? -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!-- Compiled and minified CSS -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Our team</title>
    <style>
      body {
          font-family: 'Bubbler One', sans-serif;
      }

      .image {
        width: 700px;
        height: 500px;
      }
    </style>
  </head>
  <body>
    <div class="container font font1">
      <a href="/" src="/"><i class="fa fa-window-close" aria-hidden="true"></i></a>
      <div class="col s5 what">
  <br>
  <h2>
    Equipo
    <br />
    <img class="image" src="../images/IMG_2341.JPG">
    <br />
    <br />
    </h2>
    <h4>
    Joshua Oquendo |
      Elvin Vargas |
      Xavier Martínez |
      Laura Almeida |
    Luis Diego Molinaris |
  Sebastian Negrón
</h4>
  </div>
</div>
  </body>
</html>
