#map {
 height: 400px;
 width: 100%;
}

container2 {
  color: white;
  background-color: rgb(170, 188, 205);
}

.perfil {
  background-color: rgb(38, 164, 152);
  padding: 20px;
}

.perfil2 {
  background-color: #e8eaf6;
  padding: 20px;
}

body {
  background-color: rgb(170, 188, 205);
}

h3 {
  color: white;
}

.teal {
  padding: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: rgb(38, 164, 152);
}

.font1, .font {
    font-family: 'Bubbler One', sans-serif;
}

/*.video {
  position: fixed;
}*/
nav {
  background-color: #e8eaf6;
}

.btn, .btn-large {
  background-color: !#ffebee;
}

.right {
  background-color: #e8eaf6;
}

body {
  margin: 0;
}

.stopfade {
   opacity: .5;
}


.brand-logo {
  width: 65px;
  height: 65px;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
 button {
  display: block;
  width: 80%;
  padding: .4rem;
  border: none;
  margin: 1rem auto;
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s background;
}
button:hover {
   background: rgba(0,0,0,0.5);
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background;
}
a:hover{
  background:rgba(0,0,0,0.9);
}


.about {
  background-color: white;
  font-size: 20px;
  height: 1000px;
}

.searchform {
  display: inline-block;
  margin: 0;
  overflow: hidden;
  width: 50%;
  text-align: center;
  font-family: 'Bubbler One', sans-serif;
}

ul:hover {
	cursor: pointer;
  color: #ADEAEA;
}

form {
	text-align: center;
  font-family: 'Bubbler One', sans-serif;
}

label, input {
  vertical-align: baseline;
  color: #737373;
  font-family: 'Bubbler One', sans-serif;
}
label {
  margin: 0.125em 0.125em 0 0;
  float: right;

}
input[type="search"] {
  border: 2px solid #737373;
  border-width: 0 0 3px;
  background-color: transparent;
  font: 22px "Open Sans", sans-serif;
  padding: 0.125em 0.225em;
  width: 85%;
  float: center;
}

input[type="search"]:focus {
  color: #E18728;
  border-color: #E18728;
  outline: none;
}
.pueblo{
  font-size: 15px;
  font-family: 'Bubbler One', sans-serif;
}

ul li ul {
  max-height:250px;/* you can change as you need it */
     overflow:auto;/* to get scroll */
}

.button {
  border-radius: 4px;
/*  background-color: #f4511e; */
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.start{
  background-image: url("https://farm3.staticflickr.com/2944/15139334607_178c9f2a79_b.jpg");
  text-align: center;
  padding: 100px;0
  margin-bottom: 20px;
  border-color: #c6434f;
  border-width: medium;
}
.what
{
  background-color: rgb(170, 188, 205);
  text-align: justify;
  height: 460px;
  margin: auto;
  font-size: 25px;
}

.what p {
  border-color: #c6434f;
  border-width: 10px;
  padding: 10% 0;
  padding-left: 45px;
}


.what2 img{
  padding: 40px;
}
.people{
  width: 650px;
  height: 165px;
}
.what2 {
  background-color: rgb(196, 228, 253);
  text-align: justify;
  height: 600px;
  font-size: 25px;
}

.what2 p {
  padding: 40px;
}

.how{
  width: 600px;
  height: 150px;
}
.waves-effect .waves-light {
  background-color: #c5cae9;
}

.registration {
  background-color: #e8eaf6
}

.button2 {
  background-color: #e8eaf6;
  color: gray;
}
